
  <div class="modal-body">
      <div >
  
          <div >
              <div >
                  <div>
                      <div class="card-header">
                          <h3>details Employee salary</h3>
                      </div>
                      <form name="form" #f="ngForm" >
                          <div class="form-group">
                              <label>Employee Name<span class="text-danger">*</span></label>
                              <select disabled required name="Department" #EmpId="ngModel" class="form-control" [(ngModel)]="empSalary.EmpId">
                                <option value="undefined">Please select Value</option>
                                <option *ngFor="let employee of Employees" [ngValue]="employee.empId">
                                  {{employee.firstName}}
                                </option>
                              </select>   
                                                  
                            </div>
                          <div class="form-group">
                              <label>basic Salary<span class="text-danger">*</span></label>
                            
                                <input type="number" disabled class="form-control" [(ngModel)]="empSalary.BasicsSalary" name="BasicsSalary" #BasicsSalary="ngModel"
                                required> 
                                                             
                          </div>
                        
                          <div class="form-group">
                              <label>HouseRent allowance<span class="text-danger">*</span></label>
                              <input type="number" disabled class="form-control" [(ngModel)]="empSalary.HouseRent" name="HouseRent" #HouseRent="ngModel"
                                required>
                                  
                          </div>
                          
                          <div class="form-group">
                              <label>Medical allowance<span class="text-danger">*</span></label>
                              <input type="number" disabled class="form-control" [(ngModel)]="empSalary.Medical" name="Medical" #Medical="ngModel"
                                required>
                               
                          </div>
                          <div class="form-group">
                              <label>GrossSalary allowance<span class="text-danger">*</span></label>
                              <input type="number" disabled class="form-control" [(ngModel)]="empSalary.GrossSalary" name="GrossSalary" #GrossSalary="ngModel"
                                required>
                               
                          </div>
                          <div class="form-group">
                              <label>Taxes<span class="text-danger">*</span></label>
                              <input type="number" disabled class="form-control" [(ngModel)]="empSalary.Taxes" name="Taxes" #Taxes="ngModel"
                                required>
                                
                          </div>
                          <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
                          
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
  