<div class="modal-header">
    <h4 class="modal-title">Employee Information </h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <div>
          <!-- <div class="card-header">
                      <h3>Employee Information </h3>
                  </div> -->
          <form name="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
  
            <div class="form-group">
              <label>FirstName<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.FirstName" name="FirstName" #FirstName="ngModel"
                required>
              <div *ngIf="f.submitted && FirstName.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="FirstName.errors['required']">FirstName is required</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>LastName<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.LastName" name="LastName" #LastName="ngModel"
                required>
              <div *ngIf="f.submitted && LastName.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="LastName.errors['required']">LastName is required</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>Gender<span class="text-danger">*</span></label><br />
              <input type="radio" value="M" name="Gender" [(ngModel)]="emp.Gender" #Gender="ngModel" required>
              <span>male</span>
              &nbsp;
              <input type="radio" value="F" name="Gender" [(ngModel)]="emp.Gender" #Gender="ngModel" required>
              <span>female</span>
              <div *ngIf="f.submitted && Gender.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="Gender.errors['required']">Gender is required</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>MobileNo<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.MobileNo" name="MobileNo" #MobileNo="ngModel"
                required>
              <div *ngIf="f.submitted && MobileNo.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="MobileNo.errors['required']">MobileNo is required</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>EmailId<span class="text-danger">*</span></label>
              <input type="email" class="form-control" [(ngModel)]="emp.EmailId" name="email_Id" #email_Id="ngModel"
                required>
              <div *ngIf="f.submitted && email_Id.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="email_Id.errors['required']">email_Id is required</span>
  
              </div>
  
  
            </div>
            <div class="form-group">
              <label>Address<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.Address" name="Address" #Address="ngModel"
                required>
              <div *ngIf="f.submitted && Address.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="Address.errors['required']">Address is required</span>
  
              </div>
            </div>
            <div class="form-group">
              <label>DepartmentName<span class="text-danger">*</span></label>
              <select required name="Department" #DeptId="ngModel" class="form-control"  [(ngModel)]="emp.DeptId">
                <option value="undefined">Please select Value</option>
                <option *ngFor="let dept of deptdropdownList" [ngValue]="dept.deptId">
                  {{dept.deptName}}
                </option>
              </select>
              <div *ngIf="f.submitted && DeptId.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="DeptId.errors['required']">DepartmentName is required</span>
              </div>
            </div>
            <div class="form-group">
              <label>EmpType<span class="text-danger">*</span></label>
              <select required name="EmpType" [(ngModel)]="emp.EmpTypeId" #EmpTypeId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let empl of empTypeList" [ngValue]="empl.empTypeId">
                  {{empl.employeeTypes}}
                </option>
              </select>
              <div *ngIf="f.submitted && EmpTypeId.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="EmpTypeId.errors['required']">EmpType is required</span>
              </div>
             
            </div>
            <div class="form-group">
              <label>Designation<span class="text-danger">*</span></label>
              <select required name="DesgId" [(ngModel)]="emp.DesgId" #DesgId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let desig of designationList" [ngValue]="desig.desgId">
                  {{desig.desName}}
                </option>
              </select>
              <div *ngIf="f.submitted && DesgId.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="DesgId.errors['required']">Designation is required</span>
              </div>
              
            </div>
            <div class="form-group">
              <label>EmployeeRole<span class="text-danger">*</span></label>
              <select required name="empRole" [(ngModel)]="emp.EmployeeRoleId" #EmployeeRoleId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let empRoled of employeeRoleList" [ngValue]="empRoled.employeeRoleId">
                  {{empRoled.employeeRoleName}}
                </option>
              </select>
              <div *ngIf="f.submitted && EmployeeRoleId.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="EmployeeRoleId.errors['required']">EmployeeRole is required</span>
              </div>
            </div>
            <div class="form-group">
              <label>Company<span class="text-danger">*</span></label>
              <select required name="Comp" [(ngModel)]="emp.CompanyId" #CompanyId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let company of companyList" [ngValue]="company.companyId">
                  {{company.name}}
                </option>
              </select>
              <div *ngIf="f.submitted && CompanyId.errors" class="text-danger">
                <span style="font-size:.875em;" *ngIf="CompanyId.errors['required']">companyName is required</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
  
            <button type="button" (click)="activeModal.dismiss('Cross click')" class="btn btn-danger float-right">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-danger" >delete</button>
    
      <button type="button" class="btn btn-primary" (click)="activeModal.close('false')">Cancel</button>
    </div> -->