<div class="modal-header">
    <h4 class="modal-title">Employee Information </h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <div>
          <!-- <div class="card-header">
                      <h3>Employee Information </h3>
                  </div> -->
          <form name="form" #f="ngForm">
  
            <div class="form-group">
              <label>FirstName<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.FirstName" name="FirstName" #FirstName="ngModel"
                disabled>
              
            </div>
            <div class="form-group">
              <label>LastName<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.LastName" name="LastName" #LastName="ngModel"
              disabled>
              
            </div>
            <div class="form-group">
              <label>Gender<span class="text-danger">*</span></label><br />
              <input type="radio" value="M" name="Gender" [(ngModel)]="emp.Gender" #Gender="ngModel" disabled>
              <span>male</span>
              <input type="radio" value="F" name="Gender" [(ngModel)]="emp.Gender" #Gender="ngModel" disabled>
              <span>female</span>
              
            </div>
            <div class="form-group">
              <label>MobileNo<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.MobileNo" name="MobileNo" #MobileNo="ngModel"
              disabled>
            
            </div>
            <div class="form-group">
              <label>EmailId<span class="text-danger">*</span></label>
              <input type="email" class="form-control" [(ngModel)]="emp.EmailId" name="email_Id" #email_Id="ngModel"
              disabled>
              
  
  
            </div>
            <div class="form-group">
              <label>Address<span class="text-danger">*</span></label>
              <input type="text" class="form-control" [(ngModel)]="emp.Address" name="Address" #Address="ngModel"
              disabled>
              
            </div>
            <div class="form-group">
              <label>DepartmentName<span class="text-danger">*</span></label>
              <select required name="Department" disabled #DeptId="ngModel" class="form-control" [(ngModel)]="emp.DeptId">
                <option value="undefined">Please select Value</option>
                <option *ngFor="let dept of deptdropdownList" [ngValue]="dept.deptId">
                  {{dept.deptName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>EmpType<span class="text-danger">*</span></label>
              <select required name="EmpType" disabled [(ngModel)]="emp.EmpTypeId" #EmpTypeId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let empl of empTypeList" [ngValue]="empl.empTypeId">
                  {{empl.employeeTypes}}
                </option>
              </select>
              </div>
            <div class="form-group">
              <label>Designation<span class="text-danger">*</span></label>
              <select required name="desg" disabled [(ngModel)]="emp.DesgId" #DesgId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let desig of designationList" [ngValue]="desig.desgId">
                  {{desig.desName}}
                </option>
              </select>
              
            </div>
            <div class="form-group">
              <label>EmployeeRole<span class="text-danger">*</span></label>
              <select disabled required name="empRole" [(ngModel)]="emp.EmployeeRoleId" #EmployeeRoleId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let empRoled of employeeRoleList" [ngValue]="empRoled.employeeRoleId">
                  {{empRoled.employeeRoleName}}
                </option>
              </select>
             
            </div>
            <div class="form-group">
              <label>Company<span class="text-danger">*</span></label>
              <select disabled required name="CompanyId" [(ngModel)]="emp.CompanyId" #CompanyId="ngModel" class="form-control">
                <option value="undefined">Please select value</option>
                <option *ngFor="let company of companyList" [ngValue]="company.companyId">
                  {{company.name}}
                </option>
              </select>
            </div>
           
        </form>

        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-danger" >delete</button>
    
      <button type="button" class="btn btn-primary" (click)="activeModal.close('false')">Cancel</button>
    </div> -->