<div class="container">
    <div class=" row justify-content-center" style="margin-top: 150px;">
        <div class="col-md-6 text-left bg-white rounded shadow py-3">
            <div>
                <div class="card-header">
                    <h2>Create Password</h2>
                    <form name="form" #f="ngForm" (ngSubmit)=" f.form.valid && onSubmit(f)">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example1">Email address</label>
                            <input appEmailCheck required type="email" [(ngModel)]="createPass.emailId" name="emailId"
                                #emailId="ngModel" id="EmailId" placeholder="Email address" id="form2Example1"
                                class="form-control" />
                            <div *ngIf="f.submitted && emailId.errors" class="text-danger">
                                <span style="font-size:.875em;" *ngIf="emailId.errors['required']">emailId is required</span> 
                                <span style="font-size:.875em;" *ngIf="emailId.errors['Emails']">Email is Not Match</span>
 
                              </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Password</label>
                            <input required type="password" [(ngModel)]="createPass.Password" name="Password"
                            #Password="ngModel" placeholder="Enter Your New password" id="form2Example2"
                                class="form-control" />
                            <div *ngIf="f.submitted && Password.errors" class="text-danger">
                                <span style="font-size:.875em;" *ngIf="Password.errors['required']">password is required</span>  
                              </div>
                        </div>

                        <!-- 2 column grid layout for inline styling -->


                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
                        <button routerLink="/" class="btn btn-danger btn-block mb-4">Cancel</button>

                        <!-- Register buttons -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>