<!DOCTYPE html>
<html>
<head>
	<title>Employee Salary Details</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>Employee Salary Details</h2>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h4>Employee Information</h4>
				<table class="table table-striped table-bordered table-sm row-border hover">
					<tbody *ngFor="let empSalary of employeeSalary">
						<tr>
							<th>Name:</th>
							<td>{{empSalary.firstName}}&nbsp;{{empSalary.lastName}}</td>
						</tr>
						<tr>
							<th>Employee ID:</th>
							<td>{{empSalary.empId}}</td>
						</tr>
						<tr>
							<th>Department:</th>
							<td>{{empSalary.departmentName}}</td>
						</tr>
						<tr>
							<th>EmployeeRole:</th>
							<td>{{empSalary.employeeRole}}</td>
						</tr>
                        <tr>
							<th>Designation:</th>
							<td>{{empSalary.designation}}</td>
						</tr> 
                        <tr>
							<th>FromDate:</th>
							<td>{{empSalary.fromDate}}</td>
						</tr> 
                        <tr>
							<th>ToDate:</th>
							<td>{{empSalary.toDate}}</td>
						</tr>   
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h4>Salary Information</h4>
				<table class="table table-bordered">
					<tbody *ngFor="let empSalary of employeeSalary">
							<tr>
								<th>Basic Salary:</th>
								<td>{{empSalary.basicsSalary}}</td>
							</tr>
							<tr>
								<th>HouseRent:</th>
								<td>{{empSalary.houseRent}}</td>
							</tr>
							<tr>
								<th>GrossSalary:</th>
								<td>{{empSalary.grossSalary}}</td>
							</tr>
                            <tr>
								<th>Medical:</th>
								<td>{{empSalary.medical}}</td>
							</tr>
							<tr>
								<th>TaxAmount:</th>
								<td>{{empSalary.taxAmount}}</td>
							</tr>
                            <tr>
								<th>TotalSalary:</th>
								<td style="font-family:Verdana, Geneva, Tahoma, sans-serif,Bold;">{{empSalary.totalSalary}}</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- <a href="#" class="btn btn-primary">Print</a> -->
	</div>

</body>
</html>

<!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Employee ID:</th>
        <th>Department:</th>
        <th>EmployeeRole:</th>
        <th>Designation:</th>
        <th>FromDate:</th>
        <th>ToDate:</th>
        <th>Basic Salary:</th>
        <th>HouseRent:</th>
        <th>GrossSalary:</th>
        <th>Medical:</th>
        <th>TaxAmount:</th>
        <th>TotalSalary:</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let empSalary of employeeSalary">
        <td>{{empSalary.firstName}}&nbsp;{{empSalary.lastName}}</td>
        <td>{{empSalary.empId}}</td>
        <td>{{empSalary.departmentName}}</td>
        <td>{{empSalary.employeeRole}}</td>
        <td>{{empSalary.designation}}</td>
        <td>{{empSalary.fromDate}}</td>
        <td>{{empSalary.toDate}}</td>
        <td>{{empSalary.basicsSalary}}</td>
        <td>{{empSalary.houseRent}}</td>
        <td>{{empSalary.grossSalary}}</td>
        <td>{{empSalary.medical}}</td>
        <td>{{empSalary.taxAmount}}</td>
        <td style="font-family:Verdana, Geneva, Tahoma, sans-serif,Bold;">{{empSalary.totalSalary}}</td>

    </tr>
    </tbody>
  </table> -->