<!-- to list data of student -->

<div class="table-title">
 
  <div class="container margin-top">
    <div class="row">
      <div class="text-end">
        <a (click)="openModal()" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary p-2">Add Employee</a>
      </div>
    </div>
  </div>
  <div class="container-xl">
  <div class="container">
    <h1>Employee Information</h1>
      <table class="table table-striped table-hover table-bordered table-content" >
        <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>MobileNo</th>
            <th>EmailId</th>
            <th>Address</th>
            <th>EmployeeTypes</th>
            <th>DesignamtionName</th>
            <th>DepartmentName</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.mobileNo}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.employeeTypes}}</td>
            <td>{{employee.designationName}}</td>
            <td>{{employee.departmentName}}</td>
              
              <td> 
                 <a  (click)="openModalDetails(employee.empId)" class="btn btn-warning"><i class="bi bi-info-circle-fill"></i></a>
                <a  (click)="openModalEdit(employee.empId)" class="btn btn-primary"><i class="bi bi-pencil-square"></i>
                </a>
                <button class="btn btn-danger" (click)="openModalDelete(employee.empId)"><i class="bi bi-trash"></i></button>            
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
     