<div class="container justify-content-center">
    <div class=" row justify-content-center">
<div class="card" style="width: 25rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Attendance Sign in sign Out</h5>
      <p class="card-text">You can Sign in first</p>
      <button  (click)="SignIn()" class="btn btn-primary" [disabled]="disabled">SignIn</button>
      &nbsp;
      <a (click)="SignOut()" class="btn btn-primary">SignOut</a>

    </div>
  </div>
</div>
</div>