<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
<div class="container margin-top">
    <div class="row">
      <div class="text-end">
        <a routerLink="/AddManager" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary p-2">AddManager</a>
      </div>
    </div>
  </div>
<div style="margin-top: 100px;" class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <!-- <div class="card-header align-items-center">
                    <h5 class="mb-0">Latest Transactions</h5>
                    <p class="mb-0 small text-muted">1 Pending</p>
                </div> -->
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <!-- <th></th> -->
                                <th>ManagerName</th>
                                <th>employeeName</th>
                                <th>Manager employee RoleName</th>
                                <th>EffectiveFromDate</th>
                                <th>EffectiveToDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" *ngFor="let manager of managers">

                                <td>{{manager.managerName}}</td>
                                <td>{{manager.employeeName}}</td>

                                <td>{{manager.employeeRoleName}}</td>
                                
                                <td>{{manager.effectiveFromDate}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                                        <span>{{manager.effectiveToDate}}</span>
                                    </div>
                                </td>
                                <td>
                                    <a  [routerLink]="['/editManager/',manager.managerId]" class="btn btn-primary"><i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="card-footer text-end">
                    <a href="#!" class="btn btn-gray">View All Transactions</a>
                </div> -->
            </div>
        </div>
    </div>
</div>